<!DOCTYPE html>
<html lang="en-us">

  {% include 'partials/head.html' %}

  <body>

    {% include 'partials/sidebar.html' %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">

      {% include 'partials/header.html' %}

      <div class="container content">
        {% block content %}
          {{ contents | safe }}
        {% endblock %}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    {% if envDev %}
      <script src="/assets/scripts/scripts.js"></script>
    {% else %}
      <script src="/{{ fingerprint['assets/scripts/scripts.js'] }}"></script>
    {% endif %}

  </body>
</html>
